<html><head>
<title>Registration page</title>

</head>
<body>
<form  method="POST" action="models/Employees">

    
        <lable for="Employee_id">Employee_id</lable><input type="text" name="id">
    
    
        <lable for="Employee_name"> Employee_name</lable> <input type="text"name="name">
    
     
            <lable for="email">  email</lable><input type="email" name="email">
    

                <lable for="password"> password</lable><input type="password" name=password>
    
     
                    <lable for="phoneNumber"> phoneNumber</lable><input type="text" name="phoneNumber">
    
    
                        <lable for="Desigation"> Desigation</lable><input type="text" name="Desigation">
    
    
                            <lable for="state"> state</lable><input type="text" name="state">
    
<label for="submit">singUp</label><input type="submit" value="signup">

</form>

</body>
</html>